/* orange: #EC7538
   darkblue: #225575
   grey: 90aaba
   lightblue: #1F91C6
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html, body {
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,Geneva,sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding-left: 0;
}

button:hover {
  cursor: pointer;
}

.container {
  width: 1090px;
  margin-right: auto;
  margin-left: auto;
}

.metro-title {
  color: #EC7538;
  font-family: "Permanent Marker", serif;
  font-size: 3rem;
}

.metro-header {
  height: 150px;
  position: relative;
}

.metro-header__logolink {
  position: absolute;
  display: block;
  height: 120px;
  width: 120px;
  top: 15px;
  left: 0;
}

.metro-header__logo {
  height: 120px;
  width: 120px;
}

.navbar {
  list-style: none;
  padding-top: 100px;
  text-align: right;
  position: relative;
  padding-right: 10%;
  color: #1F91C6;
}

.navbar__links {
  display: inline-block;
  padding: 5px 15px;
  font-family: Arvo,serif;
}

.navbar__links a {
  text-decoration: none;
  color: inherit;
}

.navbar__links a:hover {
  text-decoration: #1F91C6 underline;
}

.metro-hero {
  position: relative;
  height: calc(100vh - 150px);
  background-color: #225575;
  box-sizing: border-box;
  padding-top: 40vh;
}

.metro-hero__title {
  color: white;
  text-align: center;
  font-family: "Permanent Marker", serif;
  font-size: 3rem;
}

.metro-help {
  height: 100vh;
  position: absolute;
}

.metro-question {
  position: relative;
  height: calc(100vh - 150px);
  text-align: center;
}

.metro-question__title {
  color: #EC7538;
  font-family: "Permanent Marker", serif;
  padding-top: 30vh;
  font-size: 3rem;
}

.metro-btn-bar {
  text-align: center;
  padding-top: 2rem;
}

.metro-btn {
  color: #2b2b2b;
  text-decoration: none;
  border: 1px solid #2b2b2b;
  padding: 5px 15px;
  font-size: 1.6rem;
  border-radius: 3px;
}

.metro-chat-form__view {
  padding: 3rem 0;
}

.metro-label{
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin: 1rem 5%;
  width: 90%;
}

.metro-select {
  text-transform: capitalize;
}

.metro-input, .metro-textarea, .metro-select {
  width: 90%;
  margin-left: 5%;
  font-size: 1.2rem;
  border: 1px solid #1F91C6;
  padding: 2px 10px;
}

.metro-input:focus, .metro-textarea:focus, .metro-select:focus {
  border-color: #225575;
  outline: none;
}

.metro-vol-need__form {
  margin-left: 25%;
  width: 50%;
  margin-bottom: 50px;
}

.metro-vol-need__form .metro-input,
.metro-vol-need__form .metro-textarea,
.metro-vol-need__form .metro-select {
  font-size: 1.4rem;
}

.metro-vol-need__btn {
  width: 180px;
  background-color: #225575;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: white;
  box-shadow: 0 3px 6px rgba(5, 5, 5, 0.5);
}

.metro-vol-need__btn:hover {
  cursor: pointer;
}

.metro-chat__title {
  text-align: center;
  padding-bottom: 1rem;
}

.metro-chat__btn {
  color: #EC7538;
  border-color: #EC7538;
}

.metro-chat__btn:hover {
  color: white;
  background-color: #EC7538;
  border-color: #EC7538;
}

.metro-vol-container {
  margin-left: 375px;
}

.metro-vol-request-list {
  height: calc(100vh - 150px);
  width: 350px;
  position: fixed;
  top: 150px;
  left: 0;
}

.metro-vol-chat {
  padding: 2rem 3rem;
}

.metro-vol-chat-grid {
  display: flex;
  flex-wrap: wrap;
}

.metro-vol-chat-grid .metro-chat-box {
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}

.metro-chat-msg {
 color: #225575;
 width: 80%;
 padding: 10px 5px;
 margin: 10px;
 border: 1px solid #225575;
 border-radius: 3px;
}

.metro-chat-msg h3 {
  display: inline-block;
  font-size: 0.9rem;
  line-height: 1.3rem;
  border-bottom: 1px solid #225575;
  padding: 0 3px;
  margin-bottom: .5rem;
}

.metro-chat-msg-customer h3 {
  border-bottom-color: white;
}

.metro-chat-msg p {
  font-size: 0.8rem;
  line-height: 1rem;
}

.metro-chat-msg-customer {
  margin-left: 13%;
  color: white;
  background-color: #EC7538;
  border-color: #EC7538;
}

.metro-vol-need-form {
  padding: 1rem 1rem 3rem;
}

.metro-chat-box {
  width: 400px;
  border: 5px solid #1F91C6;
  position: relative;
  border-radius: 3px;
}

.metro-chat-box-close-btn {
  position: absolute;
  padding: 5px;
  background-color: #EC7538;
  color: white;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 100px;
  height: 1.4rem;
  width: 1.4rem;
  box-sizing: content-box;
  top: -20px;
  right: -20px;
}

.metro-help-chat {
  min-height: 100vh;
}

.metro-help-chat .metro-chat-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.metro-chat-header {
  color: #1F91C6;
  border-bottom: 2px solid #1F91C6;
  padding: 5px 10px;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
}

.metro-chat-header-img {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-right: 25px;
  position: absolute;
  top: -7px;;
  left: 10px;
}

.metro-chat-list {
  height: 400px;
  overflow: auto;
  margin: 5px;;
}

.metro-chat-wait {
  color: #225575;
  text-align: center;
  margin-top: 1rem;
}

.metro-requests-list {
  overflow-y: auto;
  max-height: 100%;
}

.metro-request-item {
  position: relative;
  padding: 15px 10px;
  border-bottom: 1px dotted #225575;
}

.metro-request-item:last-of-type {
  border-bottom: none;
  padding-bottom: 50px;
}

.metro-request-item-header {
  font-size: 1rem;
  color: #225575;
}

.metro-request-item-subheader {
  font-size: 0.7rem;
  color: #a3a3a3;
}

.metro-request-item-msg {
  font-size: 0.8rem;
  color: #2b2b2b;
  padding-top: 5px;
}

.metro-request-item-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  background-color: rgb(11, 192, 4);
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  border-radius: 100px;
  box-shadow: 0 2px 3px rgba(5, 5, 5, 0.3);
}

.metro-chat-input {
  border-top: 1px solid #1F91C6;
  border-bottom: 1px solid #1F91C6;
  height: 2.5rem;
}

.metro-chat-input input, .metro-chat-input button {
  border: none;
  display: inline-block;
  height: 100%;
  line-height: 1.2rem;
}

.metro-chat-input input {
  width: 305px;
  font-size: 0.8rem;
  background-color: transparent;
  padding: 0 10px;
}

.metro-chat-input input:focus {
  outline: none;
}

.metro-chat-input button {
  width: 75px;
  background-color: #EC7538;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.metro-chat-campaign {
  padding: 5px 5px 20px;;
}

.metro-chat-campaign-btn {
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  margin-left: -80px;
  width: 180px;
  background-color: #225575;
  font-size: 1rem;
  padding: 0.5rem 0;
  color: white;
  box-shadow: 0 3px 6px rgba(5, 5, 5, 0.5);
}

.metro-chat-campaign-btn:hover {
  cursor: pointer;
}

.metro-need-section {
  min-height: 100vh;
}

.metro-need-title {
  text-align: center;
  color: #EC7538;
  font-family: "Permanent Marker", serif;
  padding: 4rem 0 2rem;
  font-size: 3rem;
}

.metro-need-list-wrapper {
  position: relative;
  overflow: hidden;
}

.metro-need-list-title {
  font-size: 1rem;
  margin-left: 100px;
  color: #1F91C6;
}

.metro-need-list {
  overflow-x: hidden;
  position: relative;
  min-width: 10520px;
}

.metro-need-list-right-btn {
  position: absolute;
  right: 25px;
  top: 60%;
  font-size: 2rem;
  color: rgba(43, 43, 43, 0.50);
  z-index: 999;
}

.metro-need-list-right-btn:hover {
  color: rgba(43, 43, 43, 0.90)
}

.metro-need-card {
  display: inline-block;
  height: 150px;
  width: 300px;
  margin: 0 50px 0 20px;
  border: 2px solid #225575;
  border-radius: 3px;
}

.metro-need-card-graph {
  width: 100px;
  height: 100%;
  display: block;
  float: left;
  background-color: #225575;
}

.metro-need-card-info {
  width: 200px;
  height: 100%;
  float: right;
  display: block;
}

.metro-need-card-bar {
  margin-left: 33px;
  width: 34px;
  background-color: white;
  margin-top: 33px;
  height: 117px;
}